# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# Virtual environments
data_analysis_env/
venv/
.envrc/

# ----------------------
# Environment variables
# ----------------------
.env
.env.*
!.env.example

# ----------------------
# Jupyter / notebooks
# ----------------------
.ipynb_checkpoints/

# ----------------------
# OS / Editor junk
# ----------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ----------------------
# Docker
# ----------------------
*.log
/tmp/
